<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>AcercaDe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-background">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis Datos de Contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-avatar>
        <ion-img [src]="'assets/39.jpg'"></ion-img>
      </ion-avatar>
      <br>
      <br>
      <br>
      <h2>Nombre:</h2>
      <p>Crismery Disla Vidal</p>
      <h2>Email:</h2>
      <p>crismerydisla0550@gmail.com / 20211064@itla.edu.do</p>
      <h2>Telefono:</h2>
      <p>809-775-6112</p>
    </ion-card-content>
  </ion-card>
</ion-content>